* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

html,
body{
    height: 100%;
    width: 100%;
    background-color: #111;
}
#page1 ,#page2,#page3{
    height: 100vh;
    width: 100%;
}
#move{
    background-color: #D8FF04;  
    display: flex;
    padding: 3vw 0;
    overflow:hidden;
} 
.marque{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 3vw;
    padding: 0 1.5vw;
    transform: translateX(-100%),
    /* background-color: red; */
}
.marque h1{
    font-size: 2vw;
    font-weight: 400;
    color: black;
}

.marque img{
    height: 3vw;
}